name: Release

on:
  push:
    branches:
      - v2.2

permissions:
  contents: write
  pull-requests: write
  issues: write

name: release-please

jobs:
  release-please:
    runs-on: ubuntu-latest
    steps:
      - uses: googleapis/release-please-action@v3
        with:
          release-type: php
          extra-files: |
            config/services.yaml
